In [1]:
import pandas as pd

In [2]:
data_path = './data/ejercicio_2.csv'

In [3]:
info = pd.read_csv(data_path)

In [4]:
info.head(3)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Meta Nacional,Unnamed: 6,Unnamed: 7
0,NaN,NaN,Real,NaN,NaN,"185,000","203,500","223,850"
1,Vendedor,Potencial,ene-24,feb-24,mar-24,abr-24,may-24,jun-24
2,Vendedor 1,8048,"3,038","2,937","3,016",NaN,NaN,NaN

In [5]:
info.shape

(32, 8)

In [6]:
#seleccionamos la meta global
meta_q2 = info.iloc[0,5:]

In [7]:
meta_q2.info()

<class 'pandas.core.series.Series'>
Index: 3 entries, Meta Nacional to Unnamed: 7
Series name: 0
Non-Null Count  Dtype
--------------  -----
3 non-null      object
dtypes: object(1)
memory usage: 48.0+ bytes

In [8]:
meta_q2

Meta Nacional    185,000
Unnamed: 6       203,500
Unnamed: 7       223,850
Name: 0, dtype: object

In [9]:
meta_q2=meta_q2.str.replace(',', '').astype(float)

In [10]:
META_TOTAL = meta_q2.sum()

In [11]:
META_TOTAL

np.float64(612350.0)

In [12]:
proporcion_por_mes = meta_q2/META_TOTAL

In [13]:
proporcion_por_mes

Meta Nacional    0.302115
Unnamed: 6       0.332326
Unnamed: 7       0.365559
Name: 0, dtype: float64

In [14]:
proporcion_por_mes.info()

<class 'pandas.core.series.Series'>
Index: 3 entries, Meta Nacional to Unnamed: 7
Series name: 0
Non-Null Count  Dtype
--------------  -----
3 non-null      float64
dtypes: float64(1)
memory usage: 156.0+ bytes

In [15]:
dataset = info.iloc[1:,:8]

In [16]:
dataset

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Meta Nacional,Unnamed: 6,Unnamed: 7
1,Vendedor,Potencial,ene-24,feb-24,mar-24,abr-24,may-24,jun-24
2,Vendedor 1,8048,"3,038","2,937","3,016",NaN,NaN,NaN
3,Vendedor 2,3211,"8,915","8,903","9,007",NaN,NaN,NaN
4,Vendedor 3,9646,"2,932","2,979","3,049",NaN,NaN,NaN
5,Vendedor 4,9617,"2,870","2,941","3,054",NaN,NaN,NaN
6,Vendedor 5,3740,"9,051","8,872","8,931",NaN,NaN,NaN
7,Vendedor 6,7514,"3,007","3,015","2,911",NaN,NaN,NaN
8,Vendedor 7,2770,"8,951","8,935","8,961",NaN,NaN,NaN
9,Vendedor 8,3613,"6,074","5,926","6,079",NaN,NaN,NaN
10,Vendedor 9,8106,"2,901","2,924","3,019",NaN,NaN,NaN
11,Vendedor 10,2902,"8,947","9,065","9,134",NaN,NaN,NaN
12,Vendedor 11,3336,"9,060","9,016","8,998",NaN,NaN,NaN
13,Vendedor 12,4351,"5,888","6,030","6,002",NaN,NaN,NaN
14,Vendedor 13,4167,"6,060","5,864","5,913",NaN,NaN,NaN
15,Vendedor 14,5403,"3,071","2,945","3,006",NaN,NaN,NaN
16,Vendedor 15,6402,"5,889","5,984","6,096",NaN,NaN,NaN
17,Vendedor 16,4228,"5,933","5,963","5,960",NaN,NaN,NaN
18,Vendedor 17,5823,"5,942","5,954","6,001",NaN,NaN,NaN
19,Vendedor 18,7338,"2,956","2,998","2,957",NaN,NaN,NaN
20,Vendedor 19,3492,"6,053","6,029","6,008",NaN,NaN,NaN
21,Vendedor 20,4603,"5,922","6,020","5,934",NaN,NaN,NaN
22,Vendedor 21,2898,"9,053","9,187","8,956",NaN,NaN,NaN
23,Vendedor 22,8069,"2,960","3,056","3,004",NaN,NaN,NaN
24,Vendedor 23,2779,"9,141","9,036","8,958",NaN,NaN,NaN
25,Vendedor 24,4253,"3,048","2,908","3,082",NaN,NaN,NaN
26,Vendedor 25,2425,"8,857","9,013","9,042",NaN,NaN,NaN
27,Vendedor 26,3489,"5,960","6,034","6,035",NaN,NaN,NaN
28,Vendedor 27,3423,"8,964","8,971","9,036",NaN,NaN,NaN
29,Vendedor 28,8872,"2,999","3,036","2,979",NaN,NaN,NaN
30,Vendedor 29,4844,"6,093","5,974","5,958",NaN,NaN,NaN
31,Vendedor 30,9828,"3,032","2,916","3,003",NaN,NaN,NaN

In [17]:
columns=dataset.iloc[0]

In [18]:
cols_name= list(dict(columns).values())

In [19]:
cols_=list(dataset.columns)

In [20]:
dict(zip(cols_,cols_name))

{'Unnamed: 0': 'Vendedor',
 'Unnamed: 1': 'Potencial',
 'Unnamed: 2': 'ene-24',
 'Unnamed: 3': 'feb-24',
 'Unnamed: 4': 'mar-24',
 'Meta Nacional': 'abr-24',
 'Unnamed: 6': 'may-24',
 'Unnamed: 7': 'jun-24'}

In [21]:
dataset.rename(columns=dict(zip(cols_,cols_name)),inplace=True)

In [22]:
dataset = dataset.iloc[1:,:8]

In [23]:
dataset.tail(3)

       Vendedor Potencial ene-24 feb-24 mar-24 abr-24 may-24 jun-24
29  Vendedor 28      8872  2,999  3,036  2,979    NaN    NaN    NaN
30  Vendedor 29      4844  6,093  5,974  5,958    NaN    NaN    NaN
31  Vendedor 30      9828  3,032  2,916  3,003    NaN    NaN    NaN

In [24]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 2 to 31
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Vendedor   30 non-null     object
 1   Potencial  30 non-null     object
 2   ene-24     30 non-null     object
 3   feb-24     30 non-null     object
 4   mar-24     30 non-null     object
 5   abr-24     0 non-null      object
 6   may-24     0 non-null      object
 7   jun-24     0 non-null      object
dtypes: object(8)
memory usage: 2.0+ KB

In [25]:
def change_type(df,lista_cols):
    for j in lista_cols:
        try:
            df[j] = df[j].str.replace(',', '').astype(float)
        except:
            print('No es posible aplicar la función a esta col')

In [26]:
dataset.columns

Index(['Vendedor', 'Potencial', 'ene-24', 'feb-24', 'mar-24', 'abr-24',
       'may-24', 'jun-24'],
      dtype='object')

In [27]:
change_type(dataset,['Potencial', 'ene-24', 'feb-24', 'mar-24', 'abr-24',
       'may-24', 'jun-24'])

In [28]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 2 to 31
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Vendedor   30 non-null     object
 1   Potencial  30 non-null     float64
 2   ene-24     30 non-null     float64
 3   feb-24     30 non-null     float64
 4   mar-24     30 non-null     float64
 5   abr-24     0 non-null      float64
 6   may-24     0 non-null      float64
 7   jun-24     0 non-null      float64
dtypes: float64(7), object(1)
memory usage: 2.0+ KB

In [29]:
POTENCIAL_TOTAL = dataset.Potencial.sum()

In [30]:
POTENCIAL_TOTAL

np.float64(159190.0)

In [31]:
def aplica_porporcion(df,col_potencial, serie_proporcion,list_cols_planning):
    for i in range(len(serie_proporcion)):
        df[list_cols_planning[i]] = df[col_potencial] * serie_proporcion[i]

In [32]:
dataset

       Vendedor  Potencial  ene-24  feb-24  mar-24  abr-24  may-24  jun-24
2    Vendedor 1     8048.0  3038.0  2937.0  3016.0     NaN     NaN     NaN
3    Vendedor 2     3211.0  8915.0  8903.0  9007.0     NaN     NaN     NaN
4    Vendedor 3     9646.0  2932.0  2979.0  3049.0     NaN     NaN     NaN
5    Vendedor 4     9617.0  2870.0  2941.0  3054.0     NaN     NaN     NaN
6    Vendedor 5     3740.0  9051.0  8872.0  8931.0     NaN     NaN     NaN
7    Vendedor 6     7514.0  3007.0  3015.0  2911.0     NaN     NaN     NaN
8    Vendedor 7     2770.0  8951.0  8935.0  8961.0     NaN     NaN     NaN
9    Vendedor 8     3613.0  6074.0  5926.0  6079.0     NaN     NaN     NaN
10   Vendedor 9     8106.0  2901.0  2924.0  3019.0     NaN     NaN     NaN
11  Vendedor 10     2902.0  8947.0  9065.0  9134.0     NaN     NaN     NaN
12  Vendedor 11     3336.0  9060.0  9016.0  8998.0     NaN     NaN     NaN
13  Vendedor 12     4351.0  5888.0  6030.0  6002.0     NaN     NaN     NaN
14  Vendedor 13     4167.0  6060.0  5864.0  5913.0     NaN     NaN     NaN
15  Vendedor 14     5403.0  3071.0  2945.0  3006.0     NaN     NaN     NaN
16  Vendedor 15     6402.0  5889.0  5984.0  6096.0     NaN     NaN     NaN
17  Vendedor 16     4228.0  5933.0  5963.0  5960.0     NaN     NaN     NaN
18  Vendedor 17     5823.0  5942.0  5954.0  6001.0     NaN     NaN     NaN
19  Vendedor 18     7338.0  2956.0  2998.0  2957.0     NaN     NaN     NaN
20  Vendedor 19     3492.0  6053.0  6029.0  6008.0     NaN     NaN     NaN
21  Vendedor 20     4603.0  5922.0  6020.0  5934.0     NaN     NaN     NaN
22  Vendedor 21     2898.0  9053.0  9187.0  8956.0     NaN     NaN     NaN
23  Vendedor 22     8069.0  2960.0  3056.0  3004.0     NaN     NaN     NaN
24  Vendedor 23     2779.0  9141.0  9036.0  8958.0     NaN     NaN     NaN
25  Vendedor 24     4253.0  3048.0  2908.0  3082.0     NaN     NaN     NaN
26  Vendedor 25     2425.0  8857.0  9013.0  9042.0     NaN     NaN     NaN
27  Vendedor 26     3489.0  5960.0  6034.0  6035.0     NaN     NaN     NaN
28  Vendedor 27     3423.0  8964.0  8971.0  9036.0     NaN     NaN     NaN
29  Vendedor 28     8872.0  2999.0  3036.0  2979.0     NaN     NaN     NaN
30  Vendedor 29     4844.0  6093.0  5974.0  5958.0     NaN     NaN     NaN
31  Vendedor 30     9828.0  3032.0  2916.0  3003.0     NaN     NaN     NaN

In [33]:
cols_calculate = ['abr-24',
       'may-24', 'jun-24']

In [34]:
aplica_porporcion(dataset,'Potencial',proporcion_por_mes,cols_calculate)

C:\Users\JMELENDEZ\AppData\Local\Temp\ipykernel_28360\545065225.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df[list_cols_planning[i]] = df[col_potencial] * serie_proporcion[i]

In [35]:
dataset

,Vendedor,Potencial,ene-24,feb-24,mar-24,abr-24,may-24,jun-24
2,Vendedor 1,8048.0,3038.0,2937.0,3016.0,2431.419940,2674.561934,2942.018127
3,Vendedor 2,3211.0,8915.0,8903.0,9007.0,970.090634,1067.099698,1173.809668
4,Vendedor 3,9646.0,2932.0,2979.0,3049.0,2914.199396,3205.619335,3526.181269
5,Vendedor 4,9617.0,2870.0,2941.0,3054.0,2905.438066,3195.981873,3515.580060
6,Vendedor 5,3740.0,9051.0,8872.0,8931.0,1129.909366,1242.900302,1367.190332
7,Vendedor 6,7514.0,3007.0,3015.0,2911.0,2270.090634,2497.099698,2746.809668
8,Vendedor 7,2770.0,8951.0,8935.0,8961.0,836.858006,920.543807,1012.598187
9,Vendedor 8,3613.0,6074.0,5926.0,6079.0,1091.540785,1200.694864,1320.764350
10,Vendedor 9,8106.0,2901.0,2924.0,3019.0,2448.942598,2693.836858,2963.220544
11,Vendedor 10,2902.0,8947.0,9065.0,9134.0,876.737160,964.410876,1060.851964
12,Vendedor 11,3336.0,9060.0,9016.0,8998.0,1007.854985,1108.640483,1219.504532
13,Vendedor 12,4351.0,5888.0,6030.0,6002.0,1314.501511,1445.951662,1590.546828
14,Vendedor 13,4167.0,6060.0,5864.0,5913.0,1258.912387,1384.803625,1523.283988
15,Vendedor 14,5403.0,3071.0,2945.0,3006.0,1632.326284,1795.558912,1975.114804
16,Vendedor 15,6402.0,5889.0,5984.0,6096.0,1934.138973,2127.552870,2340.308157
17,Vendedor 16,4228.0,5933.0,5963.0,5960.0,1277.341390,1405.075529,1545.583082
18,Vendedor 17,5823.0,5942.0,5954.0,6001.0,1759.214502,1935.135952,2128.649547
19,Vendedor 18,7338.0,2956.0,2998.0,2957.0,2216.918429,2438.610272,2682.471299
20,Vendedor 19,3492.0,6053.0,6029.0,6008.0,1054.984894,1160.483384,1276.531722
21,Vendedor 20,4603.0,5922.0,6020.0,5934.0,1390.634441,1529.697885,1682.667674
22,Vendedor 21,2898.0,9053.0,9187.0,8956.0,875.528701,963.081571,1059.389728
23,Vendedor 22,8069.0,2960.0,3056.0,3004.0,2437.764350,2681.540785,2949.694864
24,Vendedor 23,2779.0,9141.0,9036.0,8958.0,839.577039,923.534743,1015.888218
25,Vendedor 24,4253.0,3048.0,2908.0,3082.0,1284.894260,1413.383686,1554.722054
26,Vendedor 25,2425.0,8857.0,9013.0,9042.0,732.628399,805.891239,886.480363
27,Vendedor 26,3489.0,5960.0,6034.0,6035.0,1054.078550,1159.486405,1275.435045
28,Vendedor 27,3423.0,8964.0,8971.0,9036.0,1034.138973,1137.552870,1251.308157
29,Vendedor 28,8872.0,2999.0,3036.0,2979.0,2680.362538,2948.398792,3243.238671
30,Vendedor 29,4844.0,6093.0,5974.0,5958.0,1463.444109,1609.788520,1770.767372
31,Vendedor 30,9828.0,3032.0,2916.0,3003.0,2969.184290,3266.102719,3592.712991

In [36]:
sumas_mes = []

In [37]:
for col in cols_calculate:
    val=dataset[col].sum()
    sumas_mes.append(val)

In [38]:
total_planning = pd.Series(dict(zip(cols_calculate,sumas_mes)))

In [39]:
sumas_mes

[np.float64(48093.65558912387),
 np.float64(52903.02114803625),
 np.float64(58193.32326283988)]

In [40]:
total_planning

abr-24    48093.655589
may-24    52903.021148
jun-24    58193.323263
dtype: float64

In [41]:
meses_name=list(total_planning.index)

In [42]:
depurar=list(meta_q2.index)

In [43]:
meta_q2.rename(index=dict(zip(depurar,meses_name)),inplace=True)

In [44]:
diferencial_planning_meta = total_planning - meta_q2

In [45]:
diferencial_planning_meta

abr-24   -136906.344411
may-24   -150596.978852
jun-24   -165656.676737
dtype: float64